* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --wild-color: #F7146B;
    --background-secondary-color: #EFE0F1;
    --secondary-font: "Libre Franklin", sans-serif;
}

.filter {}

.filter>img {
    display: block;
    margin-left: 10rem;
}

.filter>a {
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--black-color);
    background-color: var(--background-secondary-color);
    text-decoration: none;
    margin: .5rem;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
}