* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #EFE0F1;
    --secondaryColor: #F7146B;
}

nav {
    height: 4rem;
    margin: auto;
    background-color: var(--primaryColor);
    position: sticky;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem;
}

nav>ul>li:first-of-type {
    background-color: var(--secondaryColor);
    border-radius: 50% 50% 50% 50%;
    padding: 0.6rem;
    margin-left: 2rem;
}

nav>ul>li:last-of-type {
    margin-right: 1.5rem;
}

.navDesktop {
    display: none;
}

@media screen and (min-width: 992px) {

    .navDesktop {
        padding: 0;
        height: 4rem;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-content: space-around;
    }

    nav>img:first-of-type {
        grid-column: 1/2;
        justify-self: center;
        padding-top: 0.7rem;
        padding-left: 1rem;
    }

    nav>img:last-of-type {
        grid-column: 3/4;
        justify-self: center;
        padding-top: 0.3rem;
    }

    nav>ul {
        padding: 0 7rem;
    }

    nav>ul>li>a {
        text-decoration: none;
        color: black;
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    nav>ul>li:first-of-type {
        background-color: #EFE0F1;
    }

    .navMobil {
        display: none;
    }
}