:root {
    --secondary-color: #EFE0F1;
    --main-color: #F7146B;
    --width-card: 16rem;
    --height-card: 11rem;
    --padding-left-card-p: 8rem;
    --image-position: -11rem;
    --padding-bottom-card: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
}



main {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 5rem;
    background-color: #FFF5F5;
}

img {
    width: 13rem;
}

.favButton {
    background-color: var(--secondary-color);
    border: solid;
    border-style: none;
    border-radius: 3rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.iconFav {
    width: 1rem;
}

#range {
    padding-right: 1rem;
    font-size: 0.5rem;
}

.seeMore,
.learnMore {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid;
    border-style: none;
    border-radius: 2rem;
    color: white;
    background-color: var(--main-color);
    font-size: 0.6rem;

}

.topOfSlideFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    color: var(--main-color);
}

.topOfSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-left: 0.5rem;
    padding-top: 2rem;
    padding-right: 1rem;
    color: var(--main-color);
}


.cards {
    background-image: url(https://images.unsplash.com/photo-1619881589316-56c7f9e6b587?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWNkb25hbGQnc3xlbnwwfDB8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-position: -11rem;
    background-size: 17rem;
    background-color: var(--secondary-color);
    border: solid;
    border-style: none;
    border-radius: 1rem;
    color: black;
    width: var(--width-card);
    height: var(--height-card);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-right: 1rem;
    padding-top: 0.8rem;
    position: relative;
}


.card-title {
    padding-bottom: 0.8rem;
    font-size: 0.8rem;
    color: var(--main-color);
    text-decoration: underline;
}

.cardDesc {
    padding-bottom: 0.8rem;
    padding-left: var(--padding-left-card-p);
    font-size: 0.8rem;
}

.cards>article {
    display: none;
}

@media screen and (min-width:992px) {

    .cards {
        background-position: 0;
        background-size: 17rem;
        background-color: var(--secondary-color);
        border: solid;
        border-style: none;
        border-radius: 1rem;
        color: white;
        width: var(--width-card);
        height: var(--height-card);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        padding-right: 0;
        padding-top: 0;
        position: relative;
    }

    .favButton {
        display: none;
    }

    .cards>h4 {
        padding-bottom: 0.8rem;
        font-size: 0.8rem;
        color: white;
        background-color: #42424271;
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: solid;
        border-style: none;
        border-radius: 0.9rem 0.9rem 0 0;
        backdrop-filter: blur(7px);
        text-decoration: none;
        font-weight: 400;
        display: flex;
        justify-content: center;

    }

    .cards>p {
        display: none;
    }

    .cards>article {
        display: flex;
        font-size: 0.6rem;
        flex-direction: row;
        gap: 2.5rem;
        padding-left: 0.5rem;
        padding-bottom: 0.4rem;
        background-color: #42424271;
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;
        border: solid;
        border-style: none;
        border-radius: 0 0 0.9rem 0.9rem;
        backdrop-filter: blur(7px);
    }

    .seeMore,
    .learnMore {
        display: none;
    }

}