:root {
    --clr-background: #FFF5F5;
    --clr-main-pink: #F7146B;
    --clr-second-pink: #EFE0F1;
    --clr-white: #F1F1F1;
    --clr-black: #010101;
    --clr-gray: #8F8F8F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
}

body {
    background-color: var(--clr-background);
}

.cards-populaires {
    display: none;
}

.commandes-populaires {
    display: none;
}

.restaurants {
    display: none;
}

.typeFood {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding-bottom: 0.5rem;
}

.typeFood>p {
    font-size: 1.5rem;
    color: var(--clr-main-pink);
    font-weight: 500;
    font-size: 1.2rem;
}

.typeFood>a {
    width: fit-content;
    align-self: end;
    justify-self: end;
    font-size: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
    text-decoration: none;
}

.allCards,
.allBrunch,
.allBars {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    scrollbar-width: none;
    gap: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.cards .avis-note-prix .avis,
.note,
.prix {
    display: none;
}

.cards-bar .avis-note-prix .avis,
.note,
.prix {
    display: none;
}

.cards-brunch .avis-note-prix .avis,
.note,
.prix {
    display: none;
}

.cards {
    background-image: url(./img/Group\ 15.png);
    border: solid;
    border-style: none;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 12rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.cards>p {
    text-align: end;
}

.cards .nameFirm {
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--clr-main-pink);
    padding-bottom: 0.5rem;
}

.cards .knowMore {
    width: fit-content;
    align-self: end;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
    text-decoration: none;
}

.cards .desc {
    font-size: 0.9rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.cards .distance {
    font-size: 0.6rem;
}

main>section:nth-child(9) {
    padding-bottom: 20vh;
}

.cards-brunch {
    background-image: url(./img/Group\ 18.jpg);
    border: solid;
    border-style: none;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 12rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.cards-brunch>p {
    text-align: end;
}

.cards-brunch .nameFirm {
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--clr-main-pink);
    padding-bottom: 0.5rem;
}

.cards-brunch .knowMore {
    width: fit-content;
    align-self: end;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
    text-decoration: none;
}

.cards-brunch .desc {
    font-size: 0.9rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.cards-brunch .distance {
    font-size: 0.6rem;
}

.cards-bar {
    background-image: url(./img/Group\ 17.jpg);
    border: solid;
    border-style: none;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14rem;
    height: 12rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.cards-bar>p {
    text-align: end;
}

.cards-bar .nameFirm {
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--clr-main-pink);
    padding-bottom: 0.5rem;
}

.cards-bar .knowMore {
    width: fit-content;
    align-self: end;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    background-color: var(--clr-main-pink);
    color: var(--clr-white);
    text-decoration: none;
}

.cards-bar .desc {
    font-size: 0.9rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.cards-bar .distance {
    font-size: 0.6rem;
}

.allBars {
    padding-bottom: 2rem;
}

@media screen and (min-width : 992px) {

    .cards .desc {
        display: none;
    }

    .cards .distance {
        display: none;
    }

    .allCards {
        padding-top: 2rem;
    }

    .cards {
        background-image: url(./img/Group\ 16.jpg);
        padding-top: 0.5rem;
        width: 20rem;
        transition: all 300ms ease-in-out;
    }

    .cards:hover{
        transform: scale(1.1);
    }

    .cards .nameFirm {
        color: white;
        text-align: center;
        transform: translateY(-0.2rem);
    }

    .knowMore {
        display: none;
    }

    .cards .avis-note-prix .avis,
    .note,
    .prix {
        display: block;
        font-size: 0.6rem;
        color: white;
        transform: translateY(0.3rem);
    }

    .cards .avis-note-prix {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .cards-brunch {
        background-image: url(./img/Group\ 19.jpg);
        width: 20rem;
        transition: all 300ms ease-in-out;
    }

    .cards-brunch:hover{
        transform: scale(1.1);
    }

    .allBrunch{
        padding-top: 2rem;
    }

    .cards-brunch .desc {
        display: none;
    }

    .cards-brunch .distance {
        display: none;
    }

    .cards-brunch .nameFirm {
        color: white;
        text-align: center;
        transform: translateY(-0.4rem);
    }

    .cards-brunch .avis-note-prix .avis,
    .note,
    .prix {
        display: block;
        font-size: 0.6rem;
        color: white;
        transform: translateY(0.3rem);
    }

    .cards-brunch .avis-note-prix {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .cards-bar .avis-note-prix .avis,
    .note,
    .prix {
        display: block;
        font-size: 0.6rem;
        color: white;
        transform: translateY(0.3rem);
    }

    .cards-bar .avis-note-prix {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .cards-bar {
        background-image: url(./img/Group\ 20.jpg);
        width: 20rem;
        transition: all 300ms ease-in-out;
    }

.cards-bar:hover{
    transform: scale(1.1);
}

.allBars{
    padding-top: 2rem;
}

    .cards-bar .desc {
        display: none;
    }

    .cards-bar .distance {
        display: none;
    }

    .cards-bar .nameFirm {
        color: white;
        text-align: center;
        transform: translateY(-0.4rem);
    }

    .allCards,
    .allBrunch,
    .allBars {
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .typeFood {
        margin-left: 4rem;
    }

    .typeFood>p {
        color: black;
        font-weight: 400;
    }

    .restaurants {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #F7146B;
    }

    .commandes-populaires {
        display: block;
        padding-left: 4rem;
        font-weight: 400;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    .cards-populaires {
        display: block;
        background-image: url(./img/Group\ 21.jpg);
        border: solid;
        border-style: none;
        border-radius: 1rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
        height: 12rem;
        padding-top: 0.5rem;
        padding-bottom: 0.7rem;
        padding-left: 1rem;
        padding-right: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;
        transition: all 300ms ease-in-out;
    }

    .cards-populaires .avis-note-prix .avis,
    .note,
    .prix {
        display: block;
        font-size: 0.6rem;
        color: white;
        transform: translateY(0.2rem);
    }

    .cards-populaires .avis-note-prix {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .cards-populaires .nameFirm {
        color: white;
        text-align: center;
        font-size: 0.8rem;
        text-decoration: underline;
        font-weight: 500;
        padding-bottom: 0.5rem;
        transform: translateY(-0.2rem);
    }

    .all-cards-pop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 10rem;
        overflow: auto;
        scrollbar-width: none;
        padding-top: 2rem;
    }

    .cards-populaires:hover {
        transform: scale(1.1);
    }

}