@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

:root {
    --primary-color: #FFF5F5;
    --secondary-color: #EFE0F1;
    --third-color: #F7146B;

    --header-color: #FEE8F0;
    --clr-white: #F1F1F1;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

/* --------------------------------------------------------------------    HEADER  - HERO  ----------------------------------------------------------------------------- */
.header-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.header-hero>article {
    display: flex;
    gap: 1rem;
}

.header-hero>article>section>p {
    padding-left: 0.2rem;
    font-size: 0.8rem;
    padding-top: 0.3rem;
}

.header-hero>article>section>select {
    border: none;
    outline: none;
    background-color: var(--primary-color);
}

.header-hero>img {
    justify-self: end;
}

#campus {
    color: #f7156b;
}

/* --------------------------------------------------------------------    NAVBAR    ----------------------------------------------------------------------------- */
nav {
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    z-index: 5;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem;
}

nav>ul>.navMobile-home {
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 0.6rem;
    margin-left: 2rem;
}

nav>ul>.navMobile-search {
    margin-top: 0.5rem;
}

nav>ul>.navMobile-cart {
    margin-right: 2rem;
    margin-top: 0.5rem;
}

nav>ul>.navMobile-cart>a {
    text-decoration: none;
}

.navDesktop,
.navDesktop-home,
.navDesktop-search,
.navDesktop-cart,
.navDesktop-aboutUs,
.navDesktop-view {
    display: none;
}


/*--------------------------------------------------------------------------NAVBAR - AboutUs section -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- MAIN HERO -------------------------------------------------------------------------- */

.desktop-hero {
    display: none;
    padding-top: 1rem;
}


.main-hero>hgroup:first-of-type {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.main-hero>hgroup:first-of-type>h1 {
    grid-column: 1;
    grid-row: 1;
    font-weight: 700;
    color: var(--third-color);
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.main-hero>hgroup:first-of-type>input {
    height: 2.5rem;
    width: 80%;
    margin-top: 1.5rem;
    padding-left: 1rem;
    border-radius: 2rem;
    border: solid;
    border-style: none;
    background-color: var(--header-color);
    box-shadow: rgba(0, 0, 0, 0.112) 0px 1px 5px;
}

.main-hero>hgroup:first-of-type>input:focus {
    outline: none;
}

/* SLIDER */

.slider-1 {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    margin: 0 1.2rem;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 15s infinite ease-in-out;
}

.slider-1 img {
    flex-shrink: 0;
    width: 100%;
}

@keyframes slider-1 {

    0%,
    22.5% {
        transform: translateX(0);
    }

    27.5%,
    53% {
        transform: translateX(-100%);
    }

    58.5%,
    84% {
        transform: translateX(-200%);
    }

    88.5%,
    100% {
        transform: translateX(-300%);
    }
}



/* -------------------------------- MAIN HERO  -------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------section main cards---------------------------------------------------------*/

/*-------------------------------------------------------titre restaurants-----------------------------------------------------------------------------*/

.restaurants {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*-----------------------------------------------------fin titre restaurants--------------------------------------------------------------------------*/

/*-------------------------------------------------------------Filter---------------------------------------------------------*/

.section-main .filter-all {
    display: flex;
    justify-content: space-evenly;
    overflow: scroll hidden;
    scrollbar-width: none;
    list-style-type: none;
    padding-bottom: 1rem;
    padding-left: 5rem;
    gap: 1rem;
}

.section-main .filter-restaurant {
    font-family: var(--secondary-font);
    font-size: .8rem;
    color: var(--black-color);
    background-color: var(--background-secondary-color);
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: 0rem .1rem .4rem #0000001c;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section-main .filter-restaurant>img {
    padding-right: .4rem;
}

.section-main .color-clicked-filter {
    color: var(--clr-white);
    background-color: var(--third-color);
}



/*--------------------------------------------------------fin filter-----------------------------------------------------------------*/

/*--------------------------------------------------------types de resto + voir plus---------------------------------------------------------------*/

.typeFood {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.typeFood>p {
    color: var(--third-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.typeFood .fast-food {
    padding-top: 2.5rem;
}

.typeFood>a {
    align-self: end;
    justify-self: end;
    font-size: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 2rem;
    background-color: var(--third-color);
    color: var(--clr-white);
    text-decoration: none;
    color: var(--clr-white);
}

/*---------------------------------------------------------fin types de nourriture + voir plus----------------------------------------------------*/

/*---------------------------------------------------------ensemble de toutes les cards---------------------------------------------------------*/

.allCards,
.allBrunch,
.allBars {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    scrollbar-width: none;
    gap: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

/*--------------------------------------------------------fin ensemnle de toutes les cards--------------------------------------------------------*/

/*--------------------------------------------------------commandes populaires-----------------------------------------------------------------*/

/*----------------------------------------------------titre commandes populaires------------------------------------------------------------*/

.commandes-populaires {
    display: block;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--third-color);
}

/*-----------------------------------------------------fin titre commandes populaires-----------------------------------------------------*/

/*-----------------------------------------------------ensemble des commandes populaires-------------------------------------------------*/

.all-cards-pop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: auto;
    scrollbar-width: none;
}

/*----------------------------------------------------fin ensemble des commandes populaires----------------------------------------------------*/

/*-----------------------------------------------------ensemble des cards populaires-------------------------------------------------*/

.cards-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    background-image: url(./img/Group-21.jpg);
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15rem;
    height: 10rem;
    padding-bottom: 0.4rem;
    margin-right: 1rem;
}

/*---------------------------------------------------fin ensemble des cards des commandes populaires-------------------------------------------------*/

/*----------------------------------------------------avis-note-prix cards populaires--------------------------------------------------*/

.cards-populaires .avis-note-prix .avis,
.note,
.prix {
    display: block;
    font-size: 0.6rem;
    color: white;
}

.cards-populaires .avis-note-prix {
    display: flex;
    justify-content: space-between;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: white;
}

/*---------------------------------------------------fin avis-note-prix cards populaires--------------------------------------------------*/

/*----------------------------------------------------nom resto cards populaires---------------------------------------------------*/

.cards-populaires .nameFirm {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 500;
    padding-top: 0.4rem;
}

/*-----------------------------------------------------fin nom cards populaires----------------------------------------------------*/

/*--------------------------------------------------------ensemble des cards (fast-food, brunch,...)------------------------------------------------*/

.cards {
    background-image: url(./img/Group-16.jpg);
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    width: 15rem;
    height: 10rem;
}

/*-----------------------------------------------------fin ensemble des cards (fast-food, brunch,...)------------------------------------------------*/

/*-----------------------------------------------------nom resto cards----------------------------------------------------*/

.cards .nameFirm {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.4rem;
    text-decoration: underline;
}

/*---------------------------------------------------fin nom resto cards----------------------------------------------------*/

/*-------------------------------------------------------avis-note-prix cards----------------------------------------------------*/

.cards .avis-note-prix .avis,
.note,
.prix {
    display: block;
    font-size: 0.6rem;
    color: white;
}

.cards .avis-note-prix {
    display: flex;
    justify-content: space-between;
    color: white;
}

main>.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

main>.aboutUs>h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

main>.aboutUs>article {
    background: rgba(222, 173, 230, 0.15);
    box-shadow: 0 2px 5px 0 rgba(11, 11, 11, 0.164);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    width: 10rem;
    height: 14rem;
    transition: all 200ms ease-in-out;
}

main>section>.aboutUs-quality,
.aboutUs-team,
.aboutUs-availability {
    padding-top: 6rem;
    cursor: pointer;
}

.aboutUs-team {
    padding-left: 2rem;
    padding-top: 5rem;
}


main>.aboutUs>article>h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--third-color);
}

main>.aboutUs>article>p {
    display: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4rem;
}

main>.aboutUs>article>img {
    display: none;
}

main>section>.unhideArticle {
    display: block;
    width: 13rem;
    height: 20rem;
    padding-top: 1rem;
    text-align: center;
}

.aboutUs .aboutUs-team {
    display: grid;
}

.aboutUs .aboutUs-team>h3 {
    grid-column: 1/3;
    padding-right: 2rem;
    color: var(--third-color);
}

.aboutUs .aboutUs-team>:last-child {
    transform: translateX(2.6rem);
}

main>section>article>.unhide {
    display: block;
}

main>section>article>.unhidePicture {
    display: inline-block;
    width: 4rem;
    height: auto;
    margin-top: 0.4rem;
    border-radius: 2rem;
}

main>.download-app {
    display: none;
}

.section-avis {
    display: flex;
    gap: 2rem;
    padding: 5rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    overflow: scroll hidden;
}

.section-avis .card-avis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
    background-color: #FEE8F0;
    border-radius: 1rem;
    height: 21rem;
    position: relative;
}

.section-avis .card-avis>img {
    width: 4rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.218) 0px 0px 7px;
    position: absolute;
    top: -2rem;
}

#text-avis {
    font-style: italic;
    font-size: 0.7rem;
    padding: 0 2rem;
    width: 10rem;
}

#username {
    font-size: 1.1rem;
    font-weight: 600;
    color: #f7156cb0;
}

#note-avis {
    font-size: 0.8rem;
    font-weight: 500;
}

.avis-star {
    display: flex;
    gap: 0.3rem;
}

.avis-star>img {
    width: 0.9rem;
    padding-bottom: 0.6rem;
}

.titre-avis {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}


/*-----------------------------------------------------------fin avis-note-prix cards---------------------------*/

@media screen and (min-width: 992px) {

    .navDesktop,
    .navDesktop-home,
    .navDesktop-search,
    .navDesktop-cart,
    .navDesktop-aboutUs,
    .navDesktop-view {
        display: inline-block;
    }

    .navMobile {
        display: none;
    }

    header>.navDesktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        top: 0;
    }

    nav>.navDesktop-logo {
        width: 4rem;
        margin-left: 2rem;
    }

    nav>.navDesktop-picture {
        width: 3rem;
        margin-right: 2rem;
    }

    nav>ul {
        width: 30rem;
        justify-content: space-between;
        padding: 0;
    }

    nav>ul>li {
        display: flex;
    }

    nav>ul>li>a {
        text-decoration: none;
        margin-left: 0.2rem;
        color: black;
    }

    nav>ul>li>.fav-home {

        width: 1rem;
    }

    nav>ul>li>.fav-search {
        width: 1rem;
    }

    nav>ul>li>.fav-cart {
        width: 1rem;
    }


    /* -------------------------------------------------------------------------- MEDIA QUERY - NAVBAR - AboutUs section --------------------------------------------------------------------------*/
    main .aboutUs {
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    main #aboutUs {
        position: absolute;
        top: 0;
        justify-content: center;
        font-size: 2.4rem;
    }

    main .aboutUs>article {
        margin-top: 8rem;
    }

    main .aboutUs>article:hover {
        transform: scale(1.1);
    }

    /* -------------------------------------------------------------------------- MEDIA QUERY - HERO -------------------------------------------------------------------------- */
    header {
        background-color: var(--header-color);
        margin-bottom: 1rem;
    }

    .header-hero {
        display: none;
    }

    main>hgroup:first-of-type {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 3rem;
    }

    main>hgroup>hgroup:first-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    main>hgroup>hgroup:first-of-type>input {
        margin-top: 1rem;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.093) 0px 2px 2px;
    }

    main>hgroup>hgroup:last-of-type {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    main>hgroup>hgroup:last-of-type>p:nth-of-type(1) {
        grid-column: 2;
        grid-row: 3;
    }

    main>hgroup>hgroup:last-of-type>p:nth-of-type(2) {
        grid-column: 2;
        grid-row: 6;
        width: 25rem;
    }

    main>hgroup>hgroup:last-of-type>p:nth-of-type(3) {
        grid-column: 2;
        grid-row: 9;
        font-size: clamp(0.5rem, 3vw, 0.8rem);
        border-radius: 1rem;
        background-color: #f7156b;
        color: white;
        text-align: center;
        width: clamp(18rem, 5vw, 18rem);
        padding: 1rem;
    }

    main>hgroup>hgroup:last-of-type>img {
        grid-column: 4;
        grid-row: 1/12;
        border-radius: 1rem;
        padding: 0.5rem;
        width: clamp(7.5rem, 45vw, 51rem);
        max-height: 28rem;
        min-height: 9rem;
    }

    .mobile-hero {
        display: none;
    }

    .desktop-hero {
        display: block;
    }

    main>hgroup>hgroup:last-of-type {
        background-image: none;
    }

    hgroup:first-of-type>img:last-of-type {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        width: clamp(60rem, 60rem, 70rem);
        padding-right: 3rem;
    }

    /*------------------------------------------------------------------media query cards----------------------------------------------------------------------*/

    .restaurants {
        padding-top: 3rem;
        font-size: 2rem;
    }

    .commandes-populaires {
        font-size: 1.6rem;
        color: var(--third-color);
        padding-left: 3rem;
        padding-top: 3rem;
    }

    .typeFood>p {
        color: var(--third-color);
        font-weight: 500;
        padding-left: 3rem;
        font-size: 1.6rem;
    }

    .cards-populaires {
        border-radius: 1.3rem;
        width: 20rem;
        height: 14rem;
        padding-top: 0.5rem;
        padding-bottom: 0.7rem;
        padding-right: 0.8rem;
        transition: all 100ms ease-in-out;
        margin-right: 1rem;
    }

    .cards-populaires:hover {
        transform: scale(1.1);
    }

    .cards-populaires .avis-note-prix .avis,
    .note,
    .prix {
        display: block;
        font-size: 0.6rem;
        color: white;
    }

    .cards-populaires .avis-note-prix {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .cards-populaires .nameFirm {
        color: white;
        text-align: center;
        font-size: 0.9rem;
        text-decoration: underline;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    .all-cards-pop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        overflow: auto;
        scrollbar-width: none;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

    .all-cards-pop .cards {
        margin-right: 1rem;
    }

    .cards {
        border-radius: 1.3rem;
        width: 20rem;
        height: 14rem;
        padding-top: 0.5rem;
        padding-bottom: 0.7rem;
        padding-right: 0.8rem;
        transition: all 100ms ease-in-out;
        margin-right: 0rem;
        cursor: pointer;
    }

    .cards:hover {
        transform: scale(1.1);
    }

    .allCards {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

    .allBrunch {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .allBars {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    /*---------------------------------------------media query filter-----------------------------------------------------------------*/

    .filter-all {
        display: flex;
        gap: 0;
        scrollbar-width: none;
        padding-top: 3rem;
    }

    .filter-restaurant>p {
        font-size: 1.1rem;
    }

    .filter-all>article:hover {
        transform: scale(1.05);
        transition: all 100ms ease-in-out;
    }

    #Burger,
    #Pizza,
    #Bar,
    #Brunch {
        cursor: pointer;
        padding: 1rem 2rem;
    }

    main>.download-app>img {
        width: 15rem
    }

    main>.download-app>p {
        font-size: 1.1rem;
    }

    main>.download-app>p>span {
        color: var(--third-color);
        font-weight: 800;
    }

    main>.download-app {
        background-color: var(--header-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        margin: 0 20rem;
        border-radius: 2rem;
    }

    .section-avis {
        display: flex;
        gap: 3rem;
        padding-bottom: 10rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        scrollbar-width: none;
    }

    .titre-avis {
        padding-top: 5rem;
    }

    .section-avis .card-avis {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        align-items: center;
        background-color: #FEE8F0;
        border-radius: 1rem;
        width: 30rem;
    }

    .section-avis .card-avis>img {
        width: 4rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.218) 0px 0px 7px;
    }

    #text-avis {
        padding-left: 2rem;
        padding-right: 2rem;
        font-style: italic;
        font-size: 1rem;
        width: 20rem;
    }

    #username {
        font-size: 1.1rem;
        font-weight: 600;
        color: #f7156cb0;
        /* padding-top: 1rem; */

    }

    #note-avis {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .avis-star {
        display: flex;
        gap: 0.3rem;
    }

    .avis-star>img {
        width: 0.9rem;
        padding-bottom: 0.6rem;
    }

}